connected-components-3d==3.10.5
easydict==1.9
einops==0.3.0
h5py==3.12.1
hdf5storage==0.1.19
numpy==1.22.4
opencv-python==4.10.0.84
pillow==11.0.0
scipy==1.13.1
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.7.1+cu110
torchaudio==0.7.1
torchvision==0.8.2+cu110
tqdm==4.49.0
typing_extensions==4.12.2
